{% extends 'articles/base.html' %}
{% load static %}
{% load bootstrap4 %} 

{% block title %}DETAIL{% endblock %}
{% block body %}
    <!-- <div class="container">
        <div class="jumbotron jumbotron-fluid bg-secondary">
            <div class="container">
                <h1 class="display-4 text-white">DETAIL</h1>
                <p class="lead font-italic">This is Article</p>
            </div>
        </div>
    </div> -->
    <h1 class='text-center'>DETAIL</h1>
    <h2>{{ article.pk }}번 글</h2>
    <p>작성자: {{ article.user }}</p>
    <hr>
    <p>제목: {{ article.title }}</p>
    <p>내용: {{ article.content }}</p>
    {% if article.image %}
    <p>이미지: <img src="{{ article.image.url }}" alt="{{ article.image }}" width='300px'></p>
    {% else %}
    <p>이미지: <img src="{% static 'articles/images/no_image.jpg' %}" alt="no_image"></p>
    {% endif %}
    <p>작성시간: {{ article.created_at }}</p>
    <p>수정시간: {{ article.updated_at }}</p>
    <hr>
    <p><b>댓글 작성</b></p>
    {% if user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form layout='horizontal' %}
        {% bootstrap_button "등록" button_class='btn btn-primary' %}
        <!-- 댓글 입력: <input type="text" name='content'>
        <input type="submit" value="입력"> -->
    </form>
    {% else %}
    <div class="text-center">
        <a class="btn btn-warning" href="{% url 'accounts:login' %}" role="button">댓글을 작성하려면 로그인 해주세요</a>
    </div>
    {% endif %}
    <hr>    
    <p><b>댓글 목록 | 현재 댓글수: {{ comments|length }}</b></p>
    {% for comment in comments %}
    <ul>
        <li>
            {{ comment.content }} - 
            <form action="{% url 'articles:comment_delete' article.id comment.id %}" style="display: inline;" method = "POST">
                {% csrf_token %}
                <button class='btn btn-secondary btn-sm'>삭제</button>
            </form>
        </li>
    </ul>
    {% empty %}
    <p>댓글이 아직 없습니다.</p>
    {% endfor %}
    <hr>
    {% if article.user == request.user %}
    <a href="{% url 'articles:update' article.pk %}" class="btn btn-dark" style="display:inline;">수정</a>
    <!-- <a href="{% url 'articles:delete' article.pk %}">[DELETE]</a> <br> -->
    <form action="{% url 'articles:delete' article.pk %}" onclick="return confirm('R U Sure..??')" method='POST' style="display:inline;">
        {% csrf_token %}
        <button class='btn btn-dark'>삭제</button>
    </form>
    {% endif %}
    <a href="{% url 'articles:index' %}" class="btn btn-dark" style="display:inline;">목록</a>
{% endblock %}