{% extends 'articles/base.html' %}
{% load bootstrap4 %}

<!-- {% block title %}NEW{% endblock %} -->
{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-secondary">
            <div class="container">
                {% if request.resolver_match.url_name == 'create' %}
                    <h1 class="display-4 text-white">NEW</h1>
                    <p class="lead font-italic">Create a New Article</p>
                {% else %}
                    <h1 class="display-4 text-white">EDIT</h1>
                    <p class="lead font-italic">Edit your Article</p>
                {% endif %}                
            </div>
        </div>
    </div>
    <!-- {% if request.resolver_match.url_name == 'create' %}
    <h1 class='text-center'>NEW</h1>
    {% else %}
    <h1 class='text-center'>EDIT</h1>
    {% endif %} -->
    <form action="" method="POST" enctype="multipart/form-data" style='display:inline'>
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% bootstrap_button "등록" button_class='btn btn-primary' %}
        <!-- 제목: <input type="text" name="title"> <br>
        내용: <textarea name="content" id="" cols="30" rows="10"></textarea> <br>
        이미지: <input type="file" name="image" accept="image/*">
        <input type="submit"> -->
    </form>
    {% if request.resolver_match.url_name == 'create' %}
    <a href="{% url 'articles:index' %}" style='display:inline'><button class='btn btn-dark'>뒤로가기</button></a>
    {% else %}
    <a href="{% url 'articles:detail' article.id %}" style='display:inline'><button class='btn btn-dark'>뒤로가기</button></a>
    {% endif %}
{% endblock %}